<div class="card">
  <header class="card-header">
    <h2 class="card-header-title is-size-3">Your Policy</h2>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="content">
      <h4 class="has-text-primary">
        Plan Summary
      </h4>
      <p>Premium Health Cover</p>
      <h4 class="has-text-primary">
        Benefits Included
      </h4>
      <ol>
        <li>Hospitilization Coverage</li>
        <li>Ambulance Coverage</li>
        <li>Maternity Benefits</li>
        <li>Dental Coverage</li>
      </ol>
      <h4 class="has-text-primary">
        Plan Cost & Coverage
      </h4>
        <p>
        <span class="has-text-weight-semibold">
          Monthly Premium
        </span>
          $2000
        </p>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Modify</a>
  </footer>
</div>
