<h1 class="is-size-2">Profile</h1>
<div class="columns">
  <div class="column is-6">
    <form class="box">
      <h2 class="is-size-4 mb-2">Personal</h2>
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input disabled class="input" type="email" value="<%= current_user.email %>"/>
        </div>
      </div>
      <div class="field">
        <label class="label">Zipcode</label>
        <div class="control">
          <input disabled class="input" type="text" value="<%= current_user.zipcode %>"/>
        </div>
      </div>
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input disabled class="input" type="text" value="<%= current_user.name %>"/>
        </div>
      </div>
    </form>
  </div>
</div>
